* {
    box-sizing: border-box;
    font-family: arial;
}

body {
    padding: 100px;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

header div {
    font-size: small;
}

.container {
    display: flex;
    width: 90vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.question-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.welcome, .question {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: auto 20px;
    margin: 10px;
}

.welcome {
    margin: 50px;
}

button {
    display: block;
    margin: 10px auto;
}

.btn, .answer-buttons btn {
    background-color: rgb(143, 0, 143);
    color: white;
    width: 400px;
    height: 75px;
    font-size: 30px;
    text-align: left;
    border-radius: 15px;
    padding: 10px 30px; 
}

.play-again-btn, .start-btn, .enter-high-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(143, 0 , 143, 0.7);
}

.high-score {
    width: 700px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.hide {
    display: none;
}